@use 'variables' as v; // Importa variáveis com alias 'v'

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: v.$font-stack-roboto;
}

body {
    background-color: v.$background-color;
    color: v.$body-text-color; // Usando a variável definida
}

li {
    list-style: none;
}

.container {
    max-width: v.$container-max-width;
    width: 100%;
    margin: 0 auto;
}

section {
    padding: v.$section-padding-y 0;
}