@use 'variables' as v; // Importa variáveis com alias 'v'

.products {
    margin-top: v.$products-margin-top;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: v.$product-grid-column-gap;
    row-gap: v.$product-grid-row-gap;
    width: 100%;
}

.product-item {
    img {
        width: 100%;
        border-radius: v.$product-item-img-border-radius;
    }

    .product-button {
        display: block;
        background-color: v.$product-button-bg;
        color: v.$text-color;
        text-align: center;
        padding: v.$product-button-padding-y 0;
        border-radius: v.$product-button-border-radius;
        margin-top: v.$product-button-margin-top;
        text-decoration: none;

        &:hover {
            background-color: v.$product-button-hover;
        }
    }
}